{{#resume.basics}}
<section id="details">
  <div class="contact">
    {{#if website}}
    <div class="website">
      <strong>Website</strong>
      <a href={{website}}>{{website}}</a>
    </div>
    {{/if}}
    {{#if email}}
    <div class="email">
      <strong>Email</strong>
      {{email}}
    </div>
    {{/if}}
    {{#if phone}}
    <div class="phone">
      <strong>Phone</strong>
      {{phone}}
    </div>
    {{/if}}
  </div>
  {{#if profiles.length}}
  <h2>Social Profiles</h2>
  <section id="profiles">
    {{#each profiles}}
    <div class="item">
      <strong class="network">
        {{network}} - <a href={{url}}>{{username}}</a>
      </strong>
    </div>
    {{/each}}
  </section>
  {{/if}}
  {{#location}}
  <h2>Location</h2>
  <section id="location">
    {{#if address}}
    <div class="address">
      <strong>Address</strong>
      {{address}}
    </div>
    {{/if}}
    {{#if postalCode}}
    <div class="postalCode">
      <strong>Postal code</strong>
      {{postalCode}}
    </div>
    {{/if}}
    {{#if city}}
    <div class="city">
      <strong>City</strong>
      {{city}}
    </div>
    {{/if}}
    {{#if countryCode}}
    <div class="countryCode">
      <strong>Country code</strong>
      {{countryCode}}
    </div>
    {{/if}}
    {{#if region}}
    <div class="region">
      <strong>Region</strong>
      {{region}}
    </div>
    {{/if}}
  </section>
  {{/location}}
</section>
{{/resume.basics}}
