{{#if resume.education.length}}
<section id="education">
	<h2>Education</h2>
	{{#each resume.education}}
	<div class="item">
		{{#if institution}}
		<h3 class="name">{{institution}}</h3>
		{{/if}}

		<div class="date">
			{{#if startDate}}
			<span class="start-date">
				{{startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="end-date">
				- {{endDate}}
			</span>
			{{else}}
			<span class="end-date">
				- Present
			</span>
			{{/if}}
		</div>
		{{#if studyType}}
		<div class="position">
			{{#if area}}
			{{studyType}} - {{area}}
			{{else}}
			{{studyType}}
			{{/if}}
		</div>
		{{/if}}
		{{#if gpa}}
		<div class="gpa">
			GPA: {{gpa}}
		</div>
		{{/if}}
		{{#if courses.length}}
		<div class="highlights">
			<ul class="courses">
				{{#each courses}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
