{{#if resume.publications.length}}
<section id="publications">
	<h2>Publications</h2>
	{{#each resume.publications}}
	<div class="item">
		{{#if name}}
		<h3 class="name">
			{{#if website}}
				<a href={{website}}>{{name}}</a>
			{{else}}
				{{name}}
			{{/if}}
		</h3>
		{{/if}}

		{{#if releaseDate}}
		<div class="date">
			{{releaseDate}}
		</div>
		{{/if}}

		{{#if publisher}}
		<div class="position">
			{{publisher}}
		</div>
		{{/if}}
		{{#if summary}}
		<div class="highlights">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
